/* use plain for wordtile plain */
/* use daubered for wordtile daubered */

/*----------General----------*/

/* Borders */
@media only screen and (min-width: 586px){
  .round-top-edges {
    border-top-left-radius: .7rem;
    border-top-right-radius: .7rem;
  }
  .main-output-borders {
    border-top: 0;
    border-bottom-left-radius: .7rem;
    border-bottom-right-radius: .7rem;
  }
  .main-output-borders[data-theme='light'] {
    border: solid 4px var(--rgba-primary-3);
    border-top: 0;
    border-bottom-left-radius: .7rem;
    border-bottom-right-radius: .7rem;
  }
  .main-output-borders[data-theme='dark'] {
    border: solid 4px var(--rgba-secondary-2-3);
    border-top: 0;
    border-bottom-left-radius: .7rem;
    border-bottom-right-radius: .7rem;
  }
}
@media only screen and (max-width: 586px){
  #home-component{
    padding: 0px;
  }
}


/* Background */
.themed-background[data-theme='light'] {
  background-color: var(--rgba-secondary-1-4);
}
.themed-background[data-theme='dark'] {
  background-color: var(--rgba-primary-3);
}

/* Header */
.themed-header{
  font-family: 'Noto Serif';
  font-size: calc(1.75em + 1vw);
}

.themed-header[data-theme='light']{
  color: var(--rgba-secondary-2-3);
}

.themed-header[data-theme='dark']{
  color: var(--rgba-secondary-1-1);
}

/* Text */
h2 {
  padding: .1rem .1rem .1rem 1rem;
}
.themed-text{
  font-family: 'Andika';
  font-size: 1.1em;
}

.themed-text[data-theme='light'] {
  color: var(--rgba-secondary-2-3);
  background-color: var(--rgba-secondary-1-2);
  padding: .5rem 1.5rem .5rem 1.5rem;
}
.themed-text[data-theme='dark'] {
  color: var(--rgba-secondary-1-1);
  background-color: var(--rgba-secondary-1-3);
  padding: .5rem 1.5rem .5rem 1.5rem;
}

/* Buttons */
.themed-button {
  font-size: calc(.25rem + 1.6vw);
  font-family: 'Noto Serif';
}

.themed-button[data-theme='light'] {
  color: var(--rgba-secondary-2-3);
  background-color: var(--rgba-secondary-1-2);
  border: solid 2px var(--rgba-secondary-2-3);
}
.themed-button[data-theme='dark'] {
  color: var(--rgba-primary-3);
  background-color: var( --rgba-secondary-1-0);
}
.highlight-button[data-theme=light]:hover {
  background-color: var(--rgba-secondary-1-3);
  color: var(--rgba-secondary-1-2);
}
.highlight-button[data-theme=dark]:hover {
  background-color: var(--rgba-secondary-1-3);
}

/* Links */
.themed-hyperlink[data-theme='dark']:link {
  color: var(--rgba-primary-1);
}
.themed-hyperlink[data-theme='dark']:visited {
  color: var(--rgba-secondary-1-0);
}
.themed-hyperlink[data-theme='light']:link {
  color: var(--rgba-primary-4);
}
.themed-hyperlink[data-theme='light']:visited {
  color: var(--rgba-primary-3);
}
/* Cursor */
.enable-pointer:hover {
  cursor: pointer;
}

/*----------Main-Navbar----------*/
ul {
  list-style: none;
  margin-left: -2em;
}

ul > li {
  line-height: 2rem;
}

.lb-main-nav-link{
  padding: 10px;
  text-decoration: none;
  color: var(--rgba-primary-1);
}

.lb-main-nav-link:hover{
  color: var(--rgba-secondary-1-2);
}
.lb-main-nav-link-active{
  color: var(--rgba-secondary-1-2);
}
@media only screen and (max-width: 586px){
  #lb-main-navbar{
      position: absolute;
      width: 100%;
      z-index: 2;
      border-bottom: 0.5px solid var(--rgba-primary-1);
  }
  #basic-navbar-nav{
    position: absolute;
    right: 1px;
    top: 55px;
    background: #212529;
    border-bottom: 0.5px solid var(--rgba-primary-1);
    border-left: 0.5px solid var(--rgba-primary-1);;
  }
  .page{
    position: relative;
    top: 55px;
    z-index: 1;
  }
}



/*----------Game----------*/

.word-col {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6em;
  font-family: 'Mulish';
  font-size: calc(.35rem + .9vw);
  font-weight: 600;
  margin-bottom: .7vw;
  margin-left: .35vw;
  margin-right: .35vw;
  border-radius: .6em;
}
.word-col[data-theme='light'] {
  color: var(--rgba-primary-3);
  background: var(--rgba-secondary-2-1);
}
.word-col[data-theme='dark'] {
  color: var(--rgba-secondary-1-2);
  background-color: var(--rgba-secondary-1-3);
}
.dauber-layer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.daubered {
  border-radius: 50%;
}
.daubered[data-theme='light'] {
  color: var(--rgba-secondary-2-1); /* text */
  background: var(--rgba-primary-4); /* dauber */
}
.daubered[data-theme='dark'] {
  color: var(--rgba-primary-3); /* text */
  background: var( --rgba-secondary-1-0); /* dauber */
}
.plain {
  border-radius: 0;
}
.plain[data-theme='light'] {
  color: var(--rgba-primary-3);
}
.plain[data-theme='dark'] {
  color: var(--rgba-secondary-1-2);
}
.highlight-tile[data-theme=light]:hover {
  background-color: var(--rgba-primary-1);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.highlight-tile[data-theme=dark]:hover {
  background-color: var(--rgba-secondary-1-1);
  color: var(--rgba-primary-3);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlight-tile[data-theme=light]:active {
  color: var(--rgba-primary-3);
  background: var(--rgba-primary-2);
}

.highlight-tile[data-theme=dark]:active {
  color: var(--rgba-primary-2);
  background: var(--rgba-primary-3);
}

.lets-play{
  font-family:'Noto serif';
  font-size: calc(1rem + 1.6vw);
}

.lets-play[data-theme=dark]{
  color: var(--rgba-secondary-1-0);
  background: var(--rgba-primary-3);
}
@media only screen and (max-width: 586px){
  #game-session{
    padding: 2px;
  }
}

/*Footer*/


.themed-footer{
  background: #212529;
  padding-top: 1rem;
  border-bottom-left-radius: .6rem;
  border-bottom-right-radius: .6rem;
}

.themed-footer-text{
  font-family: 'Andika';
  font-size: 0.8em;
  color: var(--rgba-secondary-1-1);
}
.themed-footer-text-small{
  font-size: 0.7em;
}

.themed-footer a{
  text-decoration: none;
}
.themed-footer[data-theme=dark] a{
  color: var(--rgba-primary-1);
}

.themed-footer[data-theme=light] a{
  color: var(--rgba-secondary-1-2);
}

.themed-footer[data-theme=light] a:visited{
  color: var(--rgba-secondary-1-4);
}

.themed-footer[data-theme=dark] a:visited{
  color: var(--rgba-primary-2);
}

.themed-footer[data-theme=dark] a:hover{
  color: var(--rgba-secondary-1-2);
}
.themed-footer[data-theme=light] a:hover{
  color: var(--rgba-primary-1);
}



/*----------About Us----------*/
.dev-bio-column {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*----------Description----------*/
.demo-video {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0px;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

