/* use plain for wordtile plain */
/* use daubered for wordtile daubered */
/* nav button font and theme styles currently not set here*/

.word-col[data-theme='light'] {
  color: var(--rgba-primary-3);
  background: var(--rgba-secondary-1-1);
}
.word-col[data-theme='dark'] {
  color: var(--rgba-secondary-1-2);
  background-color: var(--rgba-secondary-1-3);
}
.daubered[data-theme='light'] {
  color: var(--rgba-primary-3); /* text */
  background: var(--rgba-primary-2); /* dauber */
}
.daubered[data-theme='dark'] {
  color: var(--rgba-primary-2); /* text */
  background: var(--rgba-primary-4); /* dauber */
}
.plain[data-theme='light'] {
  color: var(--rgba-primary-3);
}
.plain[data-theme='dark'] {
  color: var(--rgba-secondary-1-2);
}
.main-output-borders[data-theme='light'] {
  border: solid 4px var(--rgba-primary-3);
  border-top: 0;
  border-bottom-left-radius: .7rem;
  border-bottom-right-radius: .7rem;
}
.main-output-borders[data-theme='dark'] {
  border: solid 4px var(--rgba-secondary-2-4);
  border-top: 0;
  border-bottom-left-radius: .7rem;
  border-bottom-right-radius: .7rem;
}

.themed-background[data-theme='light'] {
  background-color: var(--rgba-secondary-1-4);
}
.themed-background[data-theme='dark'] {
  background-color: var(--rgba-primary-3);
}

.themed-header[data-theme='light']{
  color: var(--rgba-secondary-2-3);
}

.themed-header[data-theme='dark']{
  color: var(--rgba-secondary-1-1);
}

.themed-text[data-theme='light'] {
  color: var(--rgba-secondary-2-3);
  background-color: var(--rgba-secondary-1-2);
}
.themed-text[data-theme='dark'] {
  color: var(--rgba-secondary-1-1);
  background-color: var(--rgba-secondary-1-3);
}

.themed-button[data-theme='light'] {
  color: var(--rgba-secondary-2-3);
  background-color: var(--rgba-secondary-1-2);
  border: solid 2px var(--rgba-secondary-2-3);
}
.themed-button[data-theme='dark'] {
  color: var(--rgba-primary-2);
  background-color: var(--rgba-primary-3);
  border: solid 4px var(--rgba-secondary-2-4);
}


.highlight-button[data-theme=light]:hover {
  background-color: var(--rgba-secondary-1-3);
  color: var(--rgba-secondary-1-2);
}
.highlight-button[data-theme=dark]:hover {
  background-color: var(--rgba-secondary-2-4);
}
.highlight-tile[data-theme=light]:hover {
  background-color: var(--rgba-primary-1);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.highlight-tile[data-theme=dark]:hover {
  background-color: var(--rgba-primary-1);;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlight-tile[data-theme=light]:active {
  color: var(--rgba-primary-3); /* text */
  background: var(--rgba-primary-2); /* dauber */
}

.highlight-tile[data-theme=dark]:active {
  color: var(--rgba-primary-2); /* text */
  background: var(--rgba-primary-3); /* dauber */
}
