header,
section,
.logo-container,
.nav-container {
  margin: .2em;
}

header {
  border: solid 1px #244592;
  display: flex;
  justify-content: space-around;
}

header > div {
  padding: .2em;
}

section {
  border: solid 1px #244592;
}

.logo-container {
  border: solid 1px #DB7622;
  background: #0D296A;
  color: #CED4E1;
  min-width: 15%;
}

.nav-container {
  border: solid 1px #9F4A04;
  background: #CED4E1;
  min-width: 70%;
}
